*,html,body
{
margin:0;
padding:0;
font-family: century ;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://i.pinimg.com/originals/7f/a7/bb/7fa7bb83f07e1eb17e768b3d6dabbef7.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center ;
}

ul
{
    float:right;
    list-style-type: none;
    margin-top: 50px;
    
}

ul li 
{
    display: inline-block;
}
ul li a
{
    text-decoration: none;
    color: #fff ;
    padding: 5px 30px;
    border: 1px solid #fff;
    transition: 0.5s;
}

ul li a:hover
{   color: #000000;
    background-color: #ffffff;
    columns: #000000; 
}

ul li ul li
{   display: none;
    text-decoration: none;
    color: #fff ;
    transition: 1s all;
    box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
    height: 35px;
}

ul li:hover ul li
{
display: block;
transition: 1s all;
animation: drop 1s ease;
gap:1px all;
}
@keyframes drop {
    0%{
        transform: scale(2,2) rotate(90deg);
    }
    100%{
        transform: scale(1,1) rotate(0deg);
    }
}

ul li.active a
{   color: #000000;
    background-color: #fff;
    columns: #000000; 
}

.logo img
{
    float: left;
    width: 400px;
    height: auto;
}
.main
{
max-width:1200px;
margin: auto;
}

.title
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}

.title h1
{
    color: #fff;
    font-size: 80px; 
    font-style: italic;  
}

.button
{
position: absolute;
top: 69%;
left: 50%;
transform: translate(-50%,-50%);
}

.click
{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;

}

.click:hover
{
    color: #255784;
    background-color: #2196f3;
    columns: #000000;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; 
}


